.pageHeader {
    text-align: center;
    margin-bottom: 20px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.shop {
    width: 10%;
    border: 1px dotted black;
    text-align: left; 
    padding: 10px;
    flex-basis: 30%
    }
